


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."media_type" AS ENUM (
    'IMAGE',
    'VIDEO'
);


ALTER TYPE "public"."media_type" OWNER TO "postgres";


CREATE TYPE "public"."payment_status" AS ENUM (
    'PENDING',
    'SUCCESS',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE "public"."payment_status" OWNER TO "postgres";


CREATE TYPE "public"."payment_type" AS ENUM (
    'SUBSCRIPTION',
    'TIP',
    'PAY_PER_VIEW'
);


ALTER TYPE "public"."payment_type" OWNER TO "postgres";


CREATE TYPE "public"."payout_status" AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE "public"."payout_status" OWNER TO "postgres";


CREATE TYPE "public"."subscription_status" AS ENUM (
    'ACTIVE',
    'CANCELED',
    'EXPIRED'
);


ALTER TYPE "public"."subscription_status" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'FAN',
    'CREATOR'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."check_email_exists"("email_to_check" "text") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1
    FROM auth.users
    WHERE email = email_to_check
  );
END;
$$;


ALTER FUNCTION "public"."check_email_exists"("email_to_check" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."clear_live_chat_and_go_offline"("creator_id_input" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- 1. Pr├╝fen, ob der aufrufende Benutzer der Creator ist
  IF auth.uid() != creator_id_input THEN
    RAISE EXCEPTION 'Fehlende Berechtigung: Sie k├Ânnen nur Ihren eigenen Stream-Chat l├Âschen.';
  END IF;

  -- 2. Alle Chat-Nachrichten f├╝r diesen Creator l├Âschen
  DELETE FROM public.live_chat_messages
  WHERE creator_id = creator_id_input;

  -- 3. Den Live-Status des Creators zur├╝cksetzen
  UPDATE public.users
  SET is_live = false
  WHERE id = creator_id_input;

END;
$$;


ALTER FUNCTION "public"."clear_live_chat_and_go_offline"("creator_id_input" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."decrement_comments_count"("post_id_input" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.posts
  SET comments_count = GREATEST(0, comments_count - 1)
  WHERE id = post_id_input;
END;
$$;


ALTER FUNCTION "public"."decrement_comments_count"("post_id_input" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."decrement_likes_count"("post_id_input" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.posts
  SET likes_count = GREATEST(0, likes_count - 1) -- Verhindert negative Z├ñhler
  WHERE id = post_id_input;
END;
$$;


ALTER FUNCTION "public"."decrement_likes_count"("post_id_input" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."delete_chat_message"("message_id_input" "uuid", "creator_id_input" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Sicherheitspr├╝fung: Nur der Creator darf l├Âschen
  IF auth.uid() != creator_id_input THEN
    RAISE EXCEPTION 'Nur der Streamer kann Nachrichten l├Âschen.';
  END IF;

  DELETE FROM public.live_chat_messages
  WHERE id = message_id_input AND creator_id = creator_id_input;
END;
$$;


ALTER FUNCTION "public"."delete_chat_message"("message_id_input" "uuid", "creator_id_input" "uuid") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."subscription_tiers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "creator_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "price" numeric(10,2) NOT NULL,
    "description" "text" DEFAULT ''::"text",
    "benefits" "jsonb" DEFAULT '[]'::"jsonb",
    "position" integer DEFAULT 0,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "subscription_tiers_price_check" CHECK (("price" >= (0)::numeric))
);


ALTER TABLE "public"."subscription_tiers" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_creator_tiers"("p_creator_id" "uuid") RETURNS SETOF "public"."subscription_tiers"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  SELECT *
  FROM public.subscription_tiers
  WHERE creator_id = p_creator_id
  ORDER BY position;
END;
$$;


ALTER FUNCTION "public"."get_creator_tiers"("p_creator_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_monthly_revenue"("creator_id_input" "uuid", "period_input" "text" DEFAULT '6m'::"text") RETURNS TABLE("month_abbr" "text", "total_revenue" numeric, "sort_date" "date")
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  start_date timestamptz;
  interval_val interval;
BEGIN
  -- Zeitraum bestimmen
  CASE period_input
    WHEN '7d' THEN interval_val := '7 days'::interval;
    WHEN '30d' THEN interval_val := '30 days'::interval;
    WHEN '3m' THEN interval_val := '3 months'::interval;
    WHEN '6m' THEN interval_val := '6 months'::interval;
    WHEN '1y' THEN interval_val := '1 year'::interval;
    ELSE interval_val := '100 years'::interval; -- 'all'
  END CASE;

  start_date := now() - interval_val;

  RETURN QUERY
  SELECT
    -- Bei kurzen Zeitr├ñumen (7d, 30d) zeigen wir den Tag (DD.MM), sonst den Monat (Mon)
    to_char(created_at, CASE WHEN period_input IN ('7d', '30d') THEN 'DD.MM' ELSE 'Mon' END) as month_abbr,
    COALESCE(SUM(amount), 0) as total_revenue,
    date_trunc(CASE WHEN period_input IN ('7d', '30d') THEN 'day' ELSE 'month' END, created_at)::date as sort_date
  FROM payments
  WHERE creator_id = creator_id_input
    AND status = 'SUCCESS'
    AND created_at >= start_date
  GROUP BY sort_date, month_abbr
  ORDER BY sort_date ASC;
END;
$$;


ALTER FUNCTION "public"."get_monthly_revenue"("creator_id_input" "uuid", "period_input" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_monthly_subscriber_growth"("creator_id_input" "uuid", "period_input" "text" DEFAULT '6m'::"text") RETURNS TABLE("month_abbr" "text", "new_subscribers" bigint, "sort_date" "date")
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_start_date timestamptz; -- Umbenannt von 'start_date' zu 'v_start_date'
  interval_val interval;
BEGIN
  -- Zeitraum bestimmen
  CASE period_input
    WHEN '7d' THEN interval_val := '7 days'::interval;
    WHEN '30d' THEN interval_val := '30 days'::interval;
    WHEN '3m' THEN interval_val := '3 months'::interval;
    WHEN '6m' THEN interval_val := '6 months'::interval;
    WHEN '1y' THEN interval_val := '1 year'::interval;
    ELSE interval_val := '100 years'::interval;
  END CASE;

  -- Startdatum berechnen
  v_start_date := now() - interval_val;

  RETURN QUERY
  SELECT
    to_char(created_at, CASE WHEN period_input IN ('7d', '30d') THEN 'DD.MM' ELSE 'Mon' END) as month_abbr,
    COUNT(*) as new_subscribers,
    date_trunc(CASE WHEN period_input IN ('7d', '30d') THEN 'day' ELSE 'month' END, created_at)::date as sort_date
  FROM subscriptions
  WHERE creator_id = creator_id_input
    AND created_at >= v_start_date -- Hier wird jetzt die eindeutige Variable verwendet
  GROUP BY sort_date, month_abbr
  ORDER BY sort_date ASC;
END;
$$;


ALTER FUNCTION "public"."get_monthly_subscriber_growth"("creator_id_input" "uuid", "period_input" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_payout_summary"("creator_id_input" "uuid") RETURNS TABLE("available_balance" numeric, "current_month_earnings" numeric, "last_month_comparison_percent" double precision, "total_year_earnings" numeric)
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_current_month_earnings decimal;
  v_last_month_earnings decimal;
  v_total_earnings decimal;
  v_total_payouts decimal;
  v_total_year_earnings decimal;
BEGIN
  -- Gesamte Einnahmen
  SELECT COALESCE(SUM(amount), 0) INTO v_total_earnings
  FROM public.payments
  WHERE creator_id = creator_id_input AND status = 'SUCCESS';

  -- Gesamte Auszahlungen
  SELECT COALESCE(SUM(amount), 0) INTO v_total_payouts
  FROM public.payouts
  WHERE creator_id = creator_id_input AND (status = 'COMPLETED' OR status = 'PROCESSING');

  -- Aktueller Monat
  SELECT COALESCE(SUM(amount), 0) INTO v_current_month_earnings
  FROM public.payments
  WHERE creator_id = creator_id_input
    AND status = 'SUCCESS'
    AND created_at >= date_trunc('month', now());

  -- Letzter Monat
  SELECT COALESCE(SUM(amount), 0) INTO v_last_month_earnings
  FROM public.payments
  WHERE creator_id = creator_id_input
    AND status = 'SUCCESS'
    AND created_at >= date_trunc('month', now() - interval '1 month')
    AND created_at < date_trunc('month', now());
    
  -- Aktuelles Jahr
  SELECT COALESCE(SUM(amount), 0) INTO v_total_year_earnings
  FROM public.payments
  WHERE creator_id = creator_id_input
    AND status = 'SUCCESS'
    AND created_at >= date_trunc('year', now());

  -- Vergleich
  RETURN QUERY
  SELECT
    (v_total_earnings - v_total_payouts) AS available_balance,
    v_current_month_earnings AS current_month_earnings,
    
    -- KORREKTUR V4: Das Ergebnis der CASE-Anweisung (numeric) muss explizit
    -- in den erwarteten R├╝ckgabetyp (float / double precision) umgewandelt werden.
    CAST(
      CASE
        WHEN v_last_month_earnings = 0 THEN
          CASE WHEN v_current_month_earnings > 0 THEN 100.0 ELSE 0.0 END
        ELSE
          ((v_current_month_earnings - v_last_month_earnings) / v_last_month_earnings) * 100.0
      END
    AS double precision) AS last_month_comparison_percent,
    
    v_total_year_earnings AS total_year_earnings;
END;
$$;


ALTER FUNCTION "public"."get_payout_summary"("creator_id_input" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_recommended_feed"("p_user_id" "uuid", "p_limit" integer DEFAULT 20, "p_offset" integer DEFAULT 0) RETURNS TABLE("id" "uuid", "creator_id" "uuid", "media_url" "text", "media_type" "public"."media_type", "thumbnail_url" "text", "caption" "text", "hashtags" "text"[], "price" numeric, "tier_id" "uuid", "likes_count" integer, "comments_count" integer, "views_count" integer, "is_published" boolean, "scheduled_for" timestamp with time zone, "created_at" timestamp with time zone, "updated_at" timestamp with time zone, "score" double precision)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_user_interests text[]; -- Explizite Fan-Interessen
  v_implicit_tags text[];  -- Implizite Interessen aus Likes
BEGIN
  -- Lade die neuen Fan-Interessen
  SELECT COALESCE(interests, ARRAY[]::text[]) INTO v_user_interests
  FROM users WHERE id = p_user_id;

  -- Lade implizite Interessen (Funktion muss existieren, siehe vorheriger Chat)
  v_implicit_tags := get_user_implicit_interests(p_user_id);

  RETURN QUERY
  SELECT 
    p.*,
    (
      -- 1. Aktualit├ñt (Zeit-Bonus)
      (EXTRACT(EPOCH FROM p.created_at) / 100000) +
      
      -- 2. Popularit├ñt (Logarithmischer Like-Bonus)
      (LOG(GREATEST(p.likes_count, 1)) * 2) +
      
      -- 3. MATCH: Post-Hashtags vs. Fan-Interessen (Gewichtung: 200 Punkte)
      (SELECT COUNT(*) FROM unnest(p.hashtags) t WHERE t = ANY(v_user_interests)) * 200 +
      
      -- 4. MATCH: Post-Hashtags vs. Implizite Likes (Gewichtung: 50 Punkte)
      (SELECT COUNT(*) FROM unnest(p.hashtags) t WHERE t = ANY(v_implicit_tags)) * 50
    )::float as score
  FROM posts p
  WHERE 
    p.is_published = true 
    AND (p.scheduled_for IS NULL OR p.scheduled_for <= now())
  ORDER BY score DESC
  LIMIT p_limit OFFSET p_offset;
END;
$$;


ALTER FUNCTION "public"."get_recommended_feed"("p_user_id" "uuid", "p_limit" integer, "p_offset" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_stream_leaderboard"("creator_id_input" "uuid") RETURNS TABLE("user_id" "uuid", "user_name" "text", "user_avatar" "text", "total_tipped" numeric)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN QUERY
    SELECT
      lcm.user_id,
      lcm.user_name,
      lcm.user_avatar,
      SUM(lcm.tip_amount) AS total_tipped
    FROM
      public.live_chat_messages AS lcm
    WHERE
      lcm.creator_id = creator_id_input
      AND lcm.message_type = 'TIP'
    GROUP BY
      lcm.user_id, lcm.user_name, lcm.user_avatar
    ORDER BY
      total_tipped DESC
    LIMIT 10;
END;
$$;


ALTER FUNCTION "public"."get_stream_leaderboard"("creator_id_input" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_top_fans"("creator_id_input" "uuid", "limit_input" integer DEFAULT 5, "period_input" "text" DEFAULT 'all'::"text") RETURNS TABLE("fan_id" "uuid", "display_name" "text", "avatar_url" "text", "total_spent" numeric)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  start_date timestamptz;
  interval_val interval;
BEGIN
  CASE period_input
    WHEN '7d' THEN interval_val := '7 days'::interval;
    WHEN '30d' THEN interval_val := '30 days'::interval;
    WHEN '3m' THEN interval_val := '3 months'::interval;
    WHEN '6m' THEN interval_val := '6 months'::interval;
    WHEN '1y' THEN interval_val := '1 year'::interval;
    ELSE interval_val := '100 years'::interval;
  END CASE;

  start_date := now() - interval_val;

  RETURN QUERY
  SELECT
    p.user_id as fan_id,
    u.display_name,
    u.avatar_url,
    SUM(p.amount) as total_spent
  FROM payments p
  JOIN users u ON p.user_id = u.id
  WHERE p.creator_id = creator_id_input
    AND p.status = 'SUCCESS'
    AND p.created_at >= start_date
  GROUP BY p.user_id, u.display_name, u.avatar_url
  ORDER BY total_spent DESC
  LIMIT limit_input;
END;
$$;


ALTER FUNCTION "public"."get_top_fans"("creator_id_input" "uuid", "limit_input" integer, "period_input" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_user_implicit_interests"("p_user_id" "uuid") RETURNS "text"[]
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN ARRAY(
    SELECT DISTINCT unnest(p.hashtags)
    FROM likes l
    JOIN posts p ON l.post_id = p.id
    WHERE l.user_id = p_user_id
    ORDER BY 1
    LIMIT 20 -- Wir lernen aus den Tags der letzten geliketen Posts
  );
END;
$$;


ALTER FUNCTION "public"."get_user_implicit_interests"("p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_message"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  sender_name text;
BEGIN
  -- 1. Hole den Anzeigenamen des Senders
  SELECT display_name INTO sender_name FROM public.users WHERE id = NEW.sender_id;

  -- 2. Erstelle eine Benachrichtigung f├╝r den Empf├ñnger
  INSERT INTO public.notifications(user_id, type, title, content, data)
  VALUES(
    NEW.receiver_id,
    'NEW_MESSAGE',
    'Neue Nachricht',
    'Du hast eine neue Nachricht von ' || sender_name,
    jsonb_build_object(
      'sender_id', NEW.sender_id,
      'sender_name', sender_name
    )
  );

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_message"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  username_val text;
BEGIN
  -- Versuche Username aus Metadaten (Google etc.) zu holen
  username_val := new.raw_user_meta_data->>'username';
  
  -- Fallback: Wenn kein Username da ist, generiere einen aus der E-Mail
  -- Wir entfernen alles au├ƒer Buchstaben/Zahlen, um den Constraint nicht zu verletzen
  IF username_val IS NULL THEN
    username_val := regexp_replace(lower(split_part(new.email, '@', 1)), '[^a-z0-9_]', '', 'g');
    
    -- Falls durch das Bereinigen der String leer ist (z.B. bei "test-user"), nutze 'user_' + random ID
    IF length(username_val) < 3 THEN
        username_val := 'user_' || substr(md5(random()::text), 1, 6);
    END IF;
  END IF;

  -- Eintrag in public.users erstellen
  INSERT INTO public.users (id, username, display_name, avatar_url, role)
  VALUES (
    new.id,
    username_val,
    -- Display Name: Nimm 'full_name' von Google oder fallback auf Username
    COALESCE(new.raw_user_meta_data->>'full_name', username_val),
    -- Avatar: Nimm Bild von Google oder NULL
    new.raw_user_meta_data->>'avatar_url',
    -- Rolle: Standardm├ñ├ƒig FAN
    COALESCE((new.raw_user_meta_data->>'role')::user_role, 'FAN')
  )
  ON CONFLICT (id) DO NOTHING; -- Falls der Eintrag schon existiert, nichts tun

  RETURN new;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_successful_payment"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  payment_type_text text;
  notification_content text;
BEGIN
  -- Nur ausf├╝hren, wenn die Zahlung ERFOLGREICH ist
  IF NEW.status = 'SUCCESS' THEN

    -- 1. Einnahmen des Creators aktualisieren
    UPDATE public.users
    SET total_earnings = total_earnings + NEW.amount
    WHERE id = NEW.creator_id;

    -- 2. Wenn es ein neues Abonnement ist, Follower-Zahl erh├Âhen
    IF NEW.type = 'SUBSCRIPTION' THEN
      -- Pr├╝fen, ob dies die ERSTE aktive Sub von diesem Fan bei diesem Creator ist
      IF (SELECT count(*) FROM public.subscriptions s
          WHERE s.fan_id = NEW.user_id
          AND s.creator_id = NEW.creator_id
          AND s.status = 'ACTIVE') = 1 -- Die Sub, die gerade erstellt wurde
      THEN
        UPDATE public.users
        SET followers_count = followers_count + 1
        WHERE id = NEW.creator_id;
        
        payment_type_text := 'Neuer Abonnent';
        notification_content := (SELECT display_name FROM users WHERE id = NEW.user_id) || ' hat dich gerade abonniert!';
      END IF;
    END IF;

    -- 3. Benachrichtigung f├╝r den Creator erstellen (au├ƒer bei Tips, die evtl. sp├ñter kommen)
    IF NEW.type = 'PAY_PER_VIEW' THEN
      payment_type_text := 'Pay-per-View Kauf';
      notification_content := (SELECT display_name FROM users WHERE id = NEW.user_id) || ' hat einen Beitrag gekauft f├╝r ' || NEW.amount || 'Ôé¼';
    ELSIF NEW.type = 'SUBSCRIPTION' AND notification_content IS NOT NULL THEN
      -- (Wird nur gesetzt, wenn es ein NEUES Abo ist, s.o.)
      NULL; -- Platzhalter, Benachrichtigung wird unten erstellt
    END IF;

    IF notification_content IS NOT NULL THEN
      INSERT INTO public.notifications(user_id, type, title, content, data)
      VALUES(
        NEW.creator_id,
        NEW.type::text,
        payment_type_text,
        notification_content,
        jsonb_build_object(
          'fan_id', NEW.user_id,
          'amount', NEW.amount,
          'related_id', NEW.related_id
        )
      );
    END IF;

  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_successful_payment"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."increment_comments_count"("post_id_input" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.posts
  SET comments_count = comments_count + 1
  WHERE id = post_id_input;
END;
$$;


ALTER FUNCTION "public"."increment_comments_count"("post_id_input" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."increment_likes_count"("post_id_input" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.posts
  SET likes_count = likes_count + 1
  WHERE id = post_id_input;
END;
$$;


ALTER FUNCTION "public"."increment_likes_count"("post_id_input" "uuid") OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payouts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "creator_id" "uuid" NOT NULL,
    "amount" numeric(10,2) NOT NULL,
    "status" "public"."payout_status" DEFAULT 'PENDING'::"public"."payout_status" NOT NULL,
    "payout_method" "text",
    "requested_at" timestamp with time zone DEFAULT "now"(),
    "completed_at" timestamp with time zone,
    CONSTRAINT "payouts_amount_check" CHECK (("amount" > (0)::numeric))
);


ALTER TABLE "public"."payouts" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."request_payout"("creator_id_input" "uuid", "amount_input" numeric) RETURNS SETOF "public"."payouts"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  available_balance decimal;
BEGIN
  -- 1. Verf├╝gbares Guthaben pr├╝fen
  SELECT summary.available_balance INTO available_balance
  FROM get_payout_summary(creator_id_input) AS summary;

  -- 2. Pr├╝fen, ob Betrag ausreicht
  IF amount_input > available_balance THEN
    RAISE EXCEPTION 'Auszahlungsbetrag ├╝bersteigt verf├╝gbares Guthaben.';
  END IF;

  -- 3. Payout-Eintrag erstellen
  RETURN QUERY
  INSERT INTO public.payouts (creator_id, amount, status)
  VALUES (creator_id_input, amount_input, 'PENDING')
  RETURNING *;

END;
$$;


ALTER FUNCTION "public"."request_payout"("creator_id_input" "uuid", "amount_input" numeric) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."send_tip_message"("creator_id_input" "uuid", "user_id_input" "uuid", "user_name_input" "text", "user_avatar_input" "text", "content_input" "text", "tip_amount_input" numeric) RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.live_chat_messages
    (creator_id, user_id, user_name, user_avatar, content, message_type, tip_amount)
  VALUES
    (creator_id_input, user_id_input, user_name_input, user_avatar_input, content_input, 'TIP', tip_amount_input);
END;
$$;


ALTER FUNCTION "public"."send_tip_message"("creator_id_input" "uuid", "user_id_input" "uuid", "user_name_input" "text", "user_avatar_input" "text", "content_input" "text", "tip_amount_input" numeric) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_user_live_status"("creator_id_input" "uuid", "is_live_input" boolean) RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Aktualisiert die 'users'-Tabelle direkt
  UPDATE public.users
  SET is_live = is_live_input
  WHERE id = creator_id_input;
END;
$$;


ALTER FUNCTION "public"."set_user_live_status"("creator_id_input" "uuid", "is_live_input" boolean) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_followers_count"("creator_id_input" "uuid", "delta_value" integer) RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.users
  SET followers_count = GREATEST(0, followers_count + delta_value)
  WHERE id = creator_id_input;
END;
$$;


ALTER FUNCTION "public"."update_followers_count"("creator_id_input" "uuid", "delta_value" integer) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."comments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "post_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "content" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "comments_content_check" CHECK (("char_length"("content") > 0))
);


ALTER TABLE "public"."comments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."content_reports" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "reporter_id" "uuid",
    "post_id" "uuid",
    "reason" "text" NOT NULL,
    "description" "text",
    "status" "text" DEFAULT 'PENDING'::"text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."content_reports" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."likes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "post_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."likes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."live_chat_messages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "creator_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "user_name" "text" NOT NULL,
    "user_avatar" "text",
    "content" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "message_type" "text" DEFAULT 'CHAT'::"text" NOT NULL,
    "tip_amount" numeric DEFAULT 0
);


ALTER TABLE "public"."live_chat_messages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."messages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "sender_id" "uuid" NOT NULL,
    "receiver_id" "uuid" NOT NULL,
    "content" "text" NOT NULL,
    "is_read" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "messages_content_check" CHECK (("char_length"("content") > 0)),
    CONSTRAINT "no_self_message" CHECK (("sender_id" <> "receiver_id"))
);


ALTER TABLE "public"."messages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "type" "text" NOT NULL,
    "title" "text" NOT NULL,
    "content" "text" NOT NULL,
    "data" "jsonb" DEFAULT '{}'::"jsonb",
    "is_read" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "amount" numeric(10,2) NOT NULL,
    "currency" "text" DEFAULT 'EUR'::"text" NOT NULL,
    "type" "public"."payment_type" NOT NULL,
    "status" "public"."payment_status" DEFAULT 'PENDING'::"public"."payment_status" NOT NULL,
    "payment_method" "text",
    "related_id" "uuid",
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "creator_id" "uuid",
    CONSTRAINT "payments_amount_check" CHECK (("amount" > (0)::numeric))
);


ALTER TABLE "public"."payments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."posts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "creator_id" "uuid" NOT NULL,
    "media_url" "text" NOT NULL,
    "media_type" "public"."media_type" NOT NULL,
    "thumbnail_url" "text",
    "caption" "text" DEFAULT ''::"text",
    "hashtags" "text"[] DEFAULT ARRAY[]::"text"[],
    "price" numeric(10,2) DEFAULT 0,
    "tier_id" "uuid",
    "likes_count" integer DEFAULT 0,
    "comments_count" integer DEFAULT 0,
    "views_count" integer DEFAULT 0,
    "is_published" boolean DEFAULT false,
    "scheduled_for" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."posts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."subscriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "fan_id" "uuid" NOT NULL,
    "creator_id" "uuid" NOT NULL,
    "tier_id" "uuid",
    "status" "public"."subscription_status" DEFAULT 'ACTIVE'::"public"."subscription_status" NOT NULL,
    "price" numeric(10,2) NOT NULL,
    "start_date" timestamp with time zone DEFAULT "now"(),
    "end_date" timestamp with time zone,
    "auto_renew" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "no_self_subscription" CHECK (("fan_id" <> "creator_id")),
    CONSTRAINT "subscriptions_price_check" CHECK (("price" >= (0)::numeric))
);


ALTER TABLE "public"."subscriptions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" NOT NULL,
    "username" "text" NOT NULL,
    "display_name" "text" NOT NULL,
    "bio" "text" DEFAULT ''::"text",
    "avatar_url" "text",
    "banner_url" "text",
    "role" "public"."user_role" DEFAULT 'FAN'::"public"."user_role" NOT NULL,
    "is_verified" boolean DEFAULT false,
    "subscription_price" numeric(10,2) DEFAULT 0,
    "followers_count" integer DEFAULT 0,
    "total_earnings" numeric(10,2) DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "welcome_message" "text" DEFAULT ''::"text",
    "profile_hashtags" "text"[] DEFAULT ARRAY[]::"text"[],
    "mux_stream_key" "text",
    "mux_playback_id" "text",
    "is_live" boolean DEFAULT false,
    "live_stream_tier_id" "text" DEFAULT 'public'::"text",
    "live_stream_requires_subscription" boolean DEFAULT true,
    "stripe_account_id" "text",
    "stripe_onboarding_complete" boolean DEFAULT false,
    "interests" "text"[] DEFAULT ARRAY[]::"text"[],
    "allow_direct_messages" boolean DEFAULT true,
    "is_banned" boolean DEFAULT false,
    "is_suspended" boolean DEFAULT false,
    "has_pending_appeal" boolean DEFAULT false,
    "country" "text",
    "email_notifications_enabled" boolean DEFAULT true,
    "watermark_enabled" boolean DEFAULT true,
    CONSTRAINT "username_format" CHECK (("username" ~ '^[a-z0-9_]+$'::"text")),
    CONSTRAINT "username_length" CHECK ((("char_length"("username") >= 3) AND ("char_length"("username") <= 30)))
);


ALTER TABLE "public"."users" OWNER TO "postgres";


ALTER TABLE ONLY "public"."comments"
    ADD CONSTRAINT "comments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."content_reports"
    ADD CONSTRAINT "content_reports_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."likes"
    ADD CONSTRAINT "likes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."live_chat_messages"
    ADD CONSTRAINT "live_chat_messages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payouts"
    ADD CONSTRAINT "payouts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."posts"
    ADD CONSTRAINT "posts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."subscription_tiers"
    ADD CONSTRAINT "subscription_tiers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "unique_active_subscription" UNIQUE ("fan_id", "creator_id", "status");



ALTER TABLE ONLY "public"."likes"
    ADD CONSTRAINT "unique_like" UNIQUE ("user_id", "post_id");



ALTER TABLE ONLY "public"."subscription_tiers"
    ADD CONSTRAINT "unique_tier_per_creator" UNIQUE ("creator_id", "name");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_username_key" UNIQUE ("username");



CREATE INDEX "idx_comments_post" ON "public"."comments" USING "btree" ("post_id");



CREATE INDEX "idx_likes_post" ON "public"."likes" USING "btree" ("post_id");



CREATE INDEX "idx_likes_user" ON "public"."likes" USING "btree" ("user_id");



CREATE INDEX "idx_live_chat_creator_id_created_at" ON "public"."live_chat_messages" USING "btree" ("creator_id", "created_at" DESC);



CREATE INDEX "idx_live_chat_creator_id_tip_amount" ON "public"."live_chat_messages" USING "btree" ("creator_id", "tip_amount" DESC) WHERE ("tip_amount" > (0)::numeric);



CREATE INDEX "idx_messages_receiver" ON "public"."messages" USING "btree" ("receiver_id");



CREATE INDEX "idx_messages_sender" ON "public"."messages" USING "btree" ("sender_id");



CREATE INDEX "idx_notifications_unread" ON "public"."notifications" USING "btree" ("user_id", "is_read") WHERE ("is_read" = false);



CREATE INDEX "idx_notifications_user" ON "public"."notifications" USING "btree" ("user_id");



CREATE INDEX "idx_payments_creator" ON "public"."payments" USING "btree" ("creator_id");



CREATE INDEX "idx_payments_user" ON "public"."payments" USING "btree" ("user_id");



CREATE INDEX "idx_posts_created" ON "public"."posts" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_posts_creator" ON "public"."posts" USING "btree" ("creator_id");



CREATE INDEX "idx_posts_published" ON "public"."posts" USING "btree" ("is_published") WHERE ("is_published" = true);



CREATE INDEX "idx_subscriptions_creator" ON "public"."subscriptions" USING "btree" ("creator_id");



CREATE INDEX "idx_subscriptions_fan" ON "public"."subscriptions" USING "btree" ("fan_id");



CREATE INDEX "idx_subscriptions_status" ON "public"."subscriptions" USING "btree" ("status");



CREATE INDEX "idx_users_role" ON "public"."users" USING "btree" ("role");



CREATE INDEX "idx_users_username" ON "public"."users" USING "btree" ("username");



CREATE OR REPLACE TRIGGER "on_new_message" AFTER INSERT ON "public"."messages" FOR EACH ROW EXECUTE FUNCTION "public"."handle_new_message"();



CREATE OR REPLACE TRIGGER "on_successful_payment" AFTER INSERT ON "public"."payments" FOR EACH ROW EXECUTE FUNCTION "public"."handle_successful_payment"();



CREATE OR REPLACE TRIGGER "update_comments_updated_at" BEFORE UPDATE ON "public"."comments" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_posts_updated_at" BEFORE UPDATE ON "public"."posts" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_subscriptions_updated_at" BEFORE UPDATE ON "public"."subscriptions" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_users_updated_at" BEFORE UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."comments"
    ADD CONSTRAINT "comments_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "public"."posts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."comments"
    ADD CONSTRAINT "comments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."content_reports"
    ADD CONSTRAINT "content_reports_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "public"."posts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."content_reports"
    ADD CONSTRAINT "content_reports_reporter_id_fkey" FOREIGN KEY ("reporter_id") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."likes"
    ADD CONSTRAINT "likes_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "public"."posts"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."likes"
    ADD CONSTRAINT "likes_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."live_chat_messages"
    ADD CONSTRAINT "live_chat_messages_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."live_chat_messages"
    ADD CONSTRAINT "live_chat_messages_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_receiver_id_fkey" FOREIGN KEY ("receiver_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."messages"
    ADD CONSTRAINT "messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payouts"
    ADD CONSTRAINT "payouts_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."posts"
    ADD CONSTRAINT "posts_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."posts"
    ADD CONSTRAINT "posts_tier_id_fkey" FOREIGN KEY ("tier_id") REFERENCES "public"."subscription_tiers"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."subscription_tiers"
    ADD CONSTRAINT "subscription_tiers_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_fan_id_fkey" FOREIGN KEY ("fan_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_tier_id_fkey" FOREIGN KEY ("tier_id") REFERENCES "public"."subscription_tiers"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Allow public read access to live chat" ON "public"."live_chat_messages" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow service_role to update is_live status" ON "public"."users" FOR UPDATE TO "service_role" USING (true) WITH CHECK (true);



CREATE POLICY "Allow users to send CHAT messages" ON "public"."live_chat_messages" FOR INSERT TO "authenticated" WITH CHECK ((("auth"."uid"() = "user_id") AND ("message_type" = 'CHAT'::"text") AND ("tip_amount" = (0)::numeric)));



CREATE POLICY "Anyone can view active tiers" ON "public"."subscription_tiers" FOR SELECT TO "authenticated" USING (("is_active" = true));



CREATE POLICY "Benutzer k├Ânnen eigene Chat-Nachrichten senden" ON "public"."live_chat_messages" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Creators can create posts" ON "public"."posts" FOR INSERT TO "authenticated" WITH CHECK ((("auth"."uid"() = "creator_id") AND (EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = 'CREATOR'::"public"."user_role"))))));



CREATE POLICY "Creators can delete own posts" ON "public"."posts" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "creator_id"));



CREATE POLICY "Creators can delete own tiers" ON "public"."subscription_tiers" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "creator_id"));



CREATE POLICY "Creators can manage own tiers" ON "public"."subscription_tiers" FOR INSERT TO "authenticated" WITH CHECK ((("auth"."uid"() = "creator_id") AND (EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = 'CREATOR'::"public"."user_role"))))));



CREATE POLICY "Creators can request payouts" ON "public"."payouts" FOR INSERT TO "authenticated" WITH CHECK ((("auth"."uid"() = "creator_id") AND (EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."id" = "auth"."uid"()) AND ("users"."role" = 'CREATOR'::"public"."user_role"))))));



CREATE POLICY "Creators can update own posts" ON "public"."posts" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "creator_id")) WITH CHECK (("auth"."uid"() = "creator_id"));



CREATE POLICY "Creators can update own tiers" ON "public"."subscription_tiers" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "creator_id")) WITH CHECK (("auth"."uid"() = "creator_id"));



CREATE POLICY "Creators can view own payouts" ON "public"."payouts" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "creator_id"));



CREATE POLICY "Creators can view own posts" ON "public"."posts" FOR SELECT TO "authenticated" USING (("creator_id" = "auth"."uid"()));



CREATE POLICY "Fan can trigger welcome message on subscribe" ON "public"."messages" FOR INSERT TO "authenticated" WITH CHECK ((("sender_id" <> "auth"."uid"()) AND ("receiver_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."subscriptions" "s"
  WHERE (("s"."fan_id" = "auth"."uid"()) AND ("s"."creator_id" = "messages"."sender_id") AND (("s"."status" = 'ACTIVE'::"public"."subscription_status") OR (("s"."status" = 'CANCELED'::"public"."subscription_status") AND ("s"."end_date" > "now"()))))))));



CREATE POLICY "Fans can create subscriptions" ON "public"."subscriptions" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "fan_id"));



CREATE POLICY "Fans can update own subscriptions" ON "public"."subscriptions" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "fan_id")) WITH CHECK (("auth"."uid"() = "fan_id"));



CREATE POLICY "Jeder kann Chat-Nachrichten eines Creators lesen" ON "public"."live_chat_messages" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "No public access to reports" ON "public"."content_reports" FOR SELECT TO "authenticated" USING (false);



CREATE POLICY "Post creators can delete comments on own posts" ON "public"."comments" FOR DELETE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE (("p"."id" = "comments"."post_id") AND ("p"."creator_id" = "auth"."uid"())))));



CREATE POLICY "System can create notifications" ON "public"."notifications" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Users can create comments on accessible posts" ON "public"."comments" FOR INSERT TO "authenticated" WITH CHECK ((("auth"."uid"() = "user_id") AND (EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE ("p"."id" = "comments"."post_id")))));



CREATE POLICY "Users can create own likes" ON "public"."likes" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can create own payments" ON "public"."payments" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can create reports" ON "public"."content_reports" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "reporter_id"));



CREATE POLICY "Users can delete own comments" ON "public"."comments" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can delete own likes" ON "public"."likes" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can delete own notifications" ON "public"."notifications" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert own profile on signup" ON "public"."users" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can send messages" ON "public"."messages" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "sender_id"));



CREATE POLICY "Users can send messages OR trigger welcome messages" ON "public"."messages" FOR INSERT TO "authenticated" WITH CHECK ((("auth"."uid"() = "sender_id") OR (("auth"."uid"() = "receiver_id") AND (EXISTS ( SELECT 1
   FROM "public"."subscriptions" "s"
  WHERE (("s"."fan_id" = "auth"."uid"()) AND ("s"."creator_id" = "messages"."sender_id") AND (("s"."status" = 'ACTIVE'::"public"."subscription_status") OR (("s"."status" = 'CANCELED'::"public"."subscription_status") AND ("s"."end_date" > "now"())))))))));



CREATE POLICY "Users can send messages or trigger welcome messages" ON "public"."messages" FOR INSERT TO "authenticated" WITH CHECK ((("auth"."uid"() = "sender_id") OR (("auth"."uid"() = "receiver_id") AND (EXISTS ( SELECT 1
   FROM "public"."subscriptions" "s"
  WHERE (("s"."fan_id" = "auth"."uid"()) AND ("s"."creator_id" = "messages"."sender_id") AND ("s"."status" = 'ACTIVE'::"public"."subscription_status")))))));



CREATE POLICY "Users can update own comments" ON "public"."comments" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own notifications" ON "public"."notifications" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own profile" ON "public"."users" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can update received messages" ON "public"."messages" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "receiver_id")) WITH CHECK (("auth"."uid"() = "receiver_id"));



CREATE POLICY "Users can view all likes" ON "public"."likes" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Users can view all published posts" ON "public"."posts" FOR SELECT TO "authenticated" USING (("is_published" = true));



CREATE POLICY "Users can view comments on accessible posts" ON "public"."comments" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."posts" "p"
  WHERE ("p"."id" = "comments"."post_id"))));



CREATE POLICY "Users can view own messages" ON "public"."messages" FOR SELECT TO "authenticated" USING ((("sender_id" = "auth"."uid"()) OR ("receiver_id" = "auth"."uid"())));



CREATE POLICY "Users can view own notifications" ON "public"."notifications" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own payments" ON "public"."payments" FOR SELECT TO "authenticated" USING ((("auth"."uid"() = "user_id") OR ("auth"."uid"() = "creator_id")));



CREATE POLICY "Users can view own private details" ON "public"."users" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view own subscriptions" ON "public"."subscriptions" FOR SELECT TO "authenticated" USING ((("fan_id" = "auth"."uid"()) OR ("creator_id" = "auth"."uid"())));



CREATE POLICY "Users can view public profiles" ON "public"."users" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Users can view tiers" ON "public"."subscription_tiers" FOR SELECT TO "authenticated" USING ((("is_active" = true) OR ("creator_id" = "auth"."uid"())));



ALTER TABLE "public"."comments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."content_reports" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."likes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."live_chat_messages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."messages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."payments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."payouts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."posts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."subscription_tiers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."subscriptions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."check_email_exists"("email_to_check" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."check_email_exists"("email_to_check" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."check_email_exists"("email_to_check" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."clear_live_chat_and_go_offline"("creator_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."clear_live_chat_and_go_offline"("creator_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."clear_live_chat_and_go_offline"("creator_id_input" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."decrement_comments_count"("post_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."decrement_comments_count"("post_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."decrement_comments_count"("post_id_input" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."decrement_likes_count"("post_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."decrement_likes_count"("post_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."decrement_likes_count"("post_id_input" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."delete_chat_message"("message_id_input" "uuid", "creator_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."delete_chat_message"("message_id_input" "uuid", "creator_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."delete_chat_message"("message_id_input" "uuid", "creator_id_input" "uuid") TO "service_role";



GRANT ALL ON TABLE "public"."subscription_tiers" TO "anon";
GRANT ALL ON TABLE "public"."subscription_tiers" TO "authenticated";
GRANT ALL ON TABLE "public"."subscription_tiers" TO "service_role";



GRANT ALL ON FUNCTION "public"."get_creator_tiers"("p_creator_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_creator_tiers"("p_creator_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_creator_tiers"("p_creator_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_monthly_revenue"("creator_id_input" "uuid", "period_input" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_monthly_revenue"("creator_id_input" "uuid", "period_input" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_monthly_revenue"("creator_id_input" "uuid", "period_input" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_monthly_subscriber_growth"("creator_id_input" "uuid", "period_input" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_monthly_subscriber_growth"("creator_id_input" "uuid", "period_input" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_monthly_subscriber_growth"("creator_id_input" "uuid", "period_input" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_payout_summary"("creator_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_payout_summary"("creator_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_payout_summary"("creator_id_input" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_recommended_feed"("p_user_id" "uuid", "p_limit" integer, "p_offset" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."get_recommended_feed"("p_user_id" "uuid", "p_limit" integer, "p_offset" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_recommended_feed"("p_user_id" "uuid", "p_limit" integer, "p_offset" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_stream_leaderboard"("creator_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_stream_leaderboard"("creator_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_stream_leaderboard"("creator_id_input" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_top_fans"("creator_id_input" "uuid", "limit_input" integer, "period_input" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_top_fans"("creator_id_input" "uuid", "limit_input" integer, "period_input" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_top_fans"("creator_id_input" "uuid", "limit_input" integer, "period_input" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_user_implicit_interests"("p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_user_implicit_interests"("p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_user_implicit_interests"("p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_message"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_message"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_message"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_successful_payment"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_successful_payment"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_successful_payment"() TO "service_role";



GRANT ALL ON FUNCTION "public"."increment_comments_count"("post_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."increment_comments_count"("post_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."increment_comments_count"("post_id_input" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."increment_likes_count"("post_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."increment_likes_count"("post_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."increment_likes_count"("post_id_input" "uuid") TO "service_role";



GRANT ALL ON TABLE "public"."payouts" TO "anon";
GRANT ALL ON TABLE "public"."payouts" TO "authenticated";
GRANT ALL ON TABLE "public"."payouts" TO "service_role";



GRANT ALL ON FUNCTION "public"."request_payout"("creator_id_input" "uuid", "amount_input" numeric) TO "anon";
GRANT ALL ON FUNCTION "public"."request_payout"("creator_id_input" "uuid", "amount_input" numeric) TO "authenticated";
GRANT ALL ON FUNCTION "public"."request_payout"("creator_id_input" "uuid", "amount_input" numeric) TO "service_role";



GRANT ALL ON FUNCTION "public"."send_tip_message"("creator_id_input" "uuid", "user_id_input" "uuid", "user_name_input" "text", "user_avatar_input" "text", "content_input" "text", "tip_amount_input" numeric) TO "anon";
GRANT ALL ON FUNCTION "public"."send_tip_message"("creator_id_input" "uuid", "user_id_input" "uuid", "user_name_input" "text", "user_avatar_input" "text", "content_input" "text", "tip_amount_input" numeric) TO "authenticated";
GRANT ALL ON FUNCTION "public"."send_tip_message"("creator_id_input" "uuid", "user_id_input" "uuid", "user_name_input" "text", "user_avatar_input" "text", "content_input" "text", "tip_amount_input" numeric) TO "service_role";



GRANT ALL ON FUNCTION "public"."set_user_live_status"("creator_id_input" "uuid", "is_live_input" boolean) TO "anon";
GRANT ALL ON FUNCTION "public"."set_user_live_status"("creator_id_input" "uuid", "is_live_input" boolean) TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_user_live_status"("creator_id_input" "uuid", "is_live_input" boolean) TO "service_role";



GRANT ALL ON FUNCTION "public"."update_followers_count"("creator_id_input" "uuid", "delta_value" integer) TO "anon";
GRANT ALL ON FUNCTION "public"."update_followers_count"("creator_id_input" "uuid", "delta_value" integer) TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_followers_count"("creator_id_input" "uuid", "delta_value" integer) TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON TABLE "public"."comments" TO "anon";
GRANT ALL ON TABLE "public"."comments" TO "authenticated";
GRANT ALL ON TABLE "public"."comments" TO "service_role";



GRANT ALL ON TABLE "public"."content_reports" TO "anon";
GRANT ALL ON TABLE "public"."content_reports" TO "authenticated";
GRANT ALL ON TABLE "public"."content_reports" TO "service_role";



GRANT ALL ON TABLE "public"."likes" TO "anon";
GRANT ALL ON TABLE "public"."likes" TO "authenticated";
GRANT ALL ON TABLE "public"."likes" TO "service_role";



GRANT ALL ON TABLE "public"."live_chat_messages" TO "anon";
GRANT ALL ON TABLE "public"."live_chat_messages" TO "authenticated";
GRANT ALL ON TABLE "public"."live_chat_messages" TO "service_role";



GRANT ALL ON TABLE "public"."messages" TO "anon";
GRANT ALL ON TABLE "public"."messages" TO "authenticated";
GRANT ALL ON TABLE "public"."messages" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."payments" TO "anon";
GRANT ALL ON TABLE "public"."payments" TO "authenticated";
GRANT ALL ON TABLE "public"."payments" TO "service_role";



GRANT ALL ON TABLE "public"."posts" TO "anon";
GRANT ALL ON TABLE "public"."posts" TO "authenticated";
GRANT ALL ON TABLE "public"."posts" TO "service_role";



GRANT ALL ON TABLE "public"."subscriptions" TO "anon";
GRANT ALL ON TABLE "public"."subscriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."subscriptions" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







